<app-overview-toolbar class="toolbar"
                      [searchPanelState]="searchPanelState"
                      (menuItemEventEmitter)="onMenuItemClicked($event)"></app-overview-toolbar>

<div [@searchPanelAnimation]="searchPanelState">
  <app-search-panel [categoriesValuesMap]="categoriesValuesMap"
                    [categoriesBackgroundColor]="categoriesBackgroundColor"
                    [startDate]="startDate"
                    [endDate]="endDate"
                    (categoriesSelectedEmitter)="onCategoriesSelected($event)"
                    (startDateSelectedEmitter)="onStartDateSelected($event)"
                    (endDateSelectedEmitter)="onEndDateSelected($event)">
  </app-search-panel>
</div>

<div class="content-overview">

  <div class="events-count">{{ eventsMapFiltered.size }} anstehende Veranstaltungen</div>

  <app-event-list [eventsMap]="eventsMapFiltered"
                  (eventClickedEventEmitter)="onEventClicked($event)">
  </app-event-list>
</div>
