@use '../../../../../../node_modules/@angular/material/index' as mat;

@import '../../../../../sizes';
@import '../../../../../styles';
@import '../../../../../flex';

@include mat.core();

.content-overview, .toolbar {
  @media #{$breakpoint-small} {
    margin: 20px;
    padding-bottom: 20px;
  }
  @media #{$breakpoint-medium} {
    margin: 20px;
    padding-bottom: 40px;
  }
  @media #{$breakpoint-large} {
    margin: 40px;
    padding-bottom: 60px;
  }
}

.search-panel {
  overflow: hidden;
}

.events-count {
  color: mat.get-color-from-palette($fem-readup-red-primary, 400);
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}
