@use '~@angular/material' as mat;

@import '../../../../../flex';
@import '../../../../../styles';
@import '../../../../../sizes';

@include mat.core();

.content {
  @media #{$breakpoint-small} {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-medium} {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media #{$breakpoint-large} {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.date-button {
  margin: 8px;

  color: mat.get-contrast-color-from-palette($fem-readup-red-primary, 200);
  background: mat.get-color-from-palette($fem-readup-red-primary, 200);
}

.date-reset-button {
  margin: 8px;

  color: mat.get-color-from-palette($fem-readup-red-primary, 200);
  border-color: mat.get-color-from-palette($fem-readup-red-primary, 200) !important;
  border-width: 2px;
}
