<ng-container class="about">
    <ng-container *transloco="let t">
        <mat-toolbar>
          <div class="content flexcontainer">
            <button mat-icon-button class="toolbar-menu-item" aria-label="back" (click)="onBackClicked()">
              <mat-icon aria-hidden="false" aria-label="arrow left" fontIcon="arrow_back"></mat-icon>
            </button>
            <div class="flexbox"></div>
            <span class="about-toolbar-title">{{ t("app-title") }}</span>
            <div class="flexbox"></div>
            
          </div>
        </mat-toolbar>
      </ng-container>

<div class="about-content">

    <img about-image class="about-icon lazyload" src="../../assets/icons/icon-512x512.png" alt="event image">


    <div class="about-title">
    <h1>About Us</h1>
    <div class="subtitle">
        Wir sind Karo, Jieshan, Flo und Lina,<br> die GründerInnen von AllyUp
    </div>

    </div>

    <div class="about-detailed-information">
    <p>
        AllyUp zeigt dir intersektional-feministische Veranstaltungen in deiner Stadt (Berlin) in gebündelter Form an. So findest du leichter, was dich interessiert und behältst den Überblick.
        Mit der App wollen wir feministische/intersektional-denkende Communities stärken und ihren Anliegen mehr Gehör verschaffen.        
    </p>
    <p>
        Feminismus, wie wir ihn leben und verstehen, ist intersektional, kapitalismuskritisch, anti-rassistisch und LGBTQIA-unterstützend. Außerdem ist uns Klimagerechtigkeit wichtig. Wir verstehen uns bezüglich dieser Themen als Verbündete (Allies) und möchten mehr Menschen ermutigen, sich als Allies  zusammenzutun. Also Ally Up!        
    </p>
    <p>
        Bei Rückfragen, Feedback oder Anregungen, wende dich gern an uns.
    </p>
    </div>
</div>
</ng-container>