@use '@angular/material' as mat;

@include mat.core();

@import '../styles';
@import '../sizes';

.fem-readup-red-theme {
  @media #{$breakpoint-small} {
    background: white;
  }
  @media #{$breakpoint-medium} {
    background: white;
  }
  @media #{$breakpoint-large} {
    background: white;
  }
}

.footer {
  .impressum-button:hover {
    color: mat.get-color-from-palette($fem-readup-red-primary, 500);

  }
  .impressum-button {
    text-decoration: none;
    color: black ;
  }
  
  color: black  !important;
  text-align: center;
  padding: 20px;

}