@use '@angular/material' as mat;

@include mat.core();

@import '../styles';
@import '../sizes';

.fem-readup-red-theme {
  @media #{$breakpoint-small} {
    background: white;
  }
  @media #{$breakpoint-medium} {
    background: white;
  }
  @media #{$breakpoint-large} {
    background: white;
  }
}
