@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../styles';

@include mat.core();
@import '../../../../../theme-fem-readup-red';

.container:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 90%;
  transition: all .25s ease-in-out;
  transition-property: opacity, transform;
}

.event-image {
  max-height: 200px;
  object-fit: cover
}

::ng-deep .fem-readup-red-theme {
  .event-category {
    color: mat.get-color-from-palette($fem-readup-red-primary, 400);
    font-weight: 600;
    margin-bottom: 12px;
  }
}

::ng-deep .event .mat-card-actions {
  margin: 0 !important;
}

.mat-card-title {
  min-height: 100px;
}
