<div class="container">
  <mat-card class="event">
    <img *ngIf="event.image !== undefined" mat-card-image [attr.src]="event.image" class="event-image"  alt=""/>
    <img *ngIf="event.image == undefined" mat-card-image [attr.src]="'https://images.unsplash.com/photo-1526631655576-dc557ddce744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80'" class="event-image"  alt=""/>
    <mat-card-title>{{ event.title }}</mat-card-title>
    <mat-card-subtitle>{{ event.subtitle }}</mat-card-subtitle>
    <mat-card-content>
      {{ event.start_date }} - {{ event.end_date }}
    </mat-card-content>
  </mat-card>
</div>
