@use '~@angular/material' as mat;

@import '../../../../../flex';
@import '../../../../../styles';
@import '../../../../../sizes';

@include mat.core();

.toolbar-menu-item {
  background: mat.get-color-from-palette(mat.$grey-palette, 50);
}

::ng-deep .fem-readup-red-theme {
  .toolbar-title {
    color: mat.get-color-from-palette($fem-readup-red-primary, 300);
    font-family: "Rubik Moonrocks", serif;
    font-size: 2.0rem;
    margin-top: 4px;
  }


  .toolbar-subtitle {
    color: mat.get-color-from-palette($fem-readup-red, 400);
    margin: 4px 0 0 8px;
  }

  .mat-toolbar {
    background: mat.get-color-from-palette(mat.$grey-palette, 50);
  }
}

.content {
  width: 100%;

  @media #{$breakpoint-small} {
    margin: 10px;
  }
  @media #{$breakpoint-medium} {
    margin: 20px;
  }
  @media #{$breakpoint-large} {
    margin: 40px;
  }
}
