@use '~@angular/material' as mat;

@import '../../../../../flex';
@import '../../../../../styles';
@import '../../../../../sizes';

@include mat.core();

.toolbar-menu-item {
  background: transparent;
}

::ng-deep .fem-readup-red-theme {
  .toolbar-title {
    color: mat.get-color-from-palette($fem-readup-red-primary, 300);
    font-family: "Rubik Moonrocks", serif;
    font-size: 2.0rem;
    margin-top: 4px;
  }

  .mat-toolbar {
    @media #{$breakpoint-small} {
      background: white;
    }
    @media #{$breakpoint-medium} {
      background: mat.get-color-from-palette(mat.$grey-palette, 50);
    }
    @media #{$breakpoint-large} {
      background: mat.get-color-from-palette(mat.$grey-palette, 50);
    }
  }
}

.content {
  width: 100%;

  @media #{$breakpoint-small} {
    margin: 20px;
  }
  @media #{$breakpoint-medium} {
    margin: 20px;
  }
  @media #{$breakpoint-large} {
    margin: 40px;
  }
}

.button-placeholder {
  width: 40px;
}
