@use '@angular/material' as mat;

@include mat.core();
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'theme-fem-readup-red';

.fem-read-red-theme {
  @include mat.all-component-themes($fem-readup-red-theme);
}

@font-face {
  font-family: "Rubik Moonrocks";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/RubikMoonrocks-Regular.ttf) format("truetype");
  font-display: swap;
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  height: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

body {
  height: 100%;
  color: mat.get-color-from-palette(mat.$grey-palette, 900);
  font-family: 'Centra Book', sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

::ng-deep .mat-toolbar-single-row {
  padding: 0 !important;
}

::ng-deep .mat-button {
  min-width: 0 !important;
}

.lazyload,
.lazyloading {
  opacity: 0.7;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 2000ms;
}
