@use '@angular/material' as mat;

$color-red : #E57373;
$color-red : hsl(0, 69%, 90%);

$fem-readup-red: (
  50: hsl(353, 40%, 92%),
  100: hsl(0, 69%, 87%),
  200: hsl(0, 69%, 77%),
  300: hsl(0, 69%, 67%),
  400: hsl(0, 69%, 57%),
  500: hsl(0, 65%, 51%),
  600: hsl(0, 69%, 37%),
  700: hsl(0, 69%, 27%),
  800: hsl(0, 69%, 17%),
  900: hsl(0, 69%, 7%),
  A100: $color-red,
  A200: $color-red,
  A400: $color-red,
  A700: $color-red,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$fem-readup-red-primary: mat.define-palette($fem-readup-red, 500, 400, 600);
$fem-readup-red-accent: mat.define-palette($fem-readup-red, 500, 400, 600);
$fem-readup-red-warn: mat.define-palette(mat.$red-palette);

$fem-readup-red-theme: mat.define-light-theme($fem-readup-red-primary, $fem-readup-red-accent, $fem-readup-red-warn);
