@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../styles';

@include mat.core();
@import '../../../../../theme-fem-readup-red';

::ng-deep .fem-readup-red-theme {
  .logo {
    color: mat.get-color-from-palette($fem-readup-red-primary, 300);
    font-family: "Rubik Moonrocks", serif;
    font-size: 2.0rem;
  }
}
